@import "./fonts.css";

/* Set keyframes */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    margin: 0;
}

/* Home Page */

.home-page {
    background-image: url('https://images.unsplash.com/photo-1571866735550-7b1ae3bdb144?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 1s;
    transition: 0.35s ease;
}

.home-page-eat {
    background-image: url('https://images.unsplash.com/photo-1541921671-aef0a20d0787?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2286&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.35s ease;
}

.home-page-drink {
    background-image: url('https://images.unsplash.com/photo-1514361892635-6b07e31e75f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.35s ease;
}

.home-page-visit {
    background-image: url('https://cdn.pixabay.com/photo/2022/08/13/00/14/restaurant-7382688_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.35s ease;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

nav ul {
    display: flex;
}

nav ul a {
    position: relative;
    margin: 0 15px;
    font-size: 23px;
    color: rgb(212, 212, 212);
    font-family: 'Cinzel';

}

h1 {
    font-family: 'Bricks';
    color: rgb(212, 212, 212);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    position: relative;
}

.home-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 22%;
}

.home-banner ul {
    display: flex;
}

.home-banner ul a {
    font-family: 'Bricks';
    font-size: 90px;
    color: rgb(212, 212, 212);
    margin: 0 50px;
}

.home-banner ul a:hover>span {
    font-family: 'BricksInvers';
}

.home-banner p {
    color: rgb(212, 212, 212);
    font-size: 30px;
    font-family: 'Cinzel';
    margin-top: 10%;
}

li ::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    z-index: -1;
    background-color: #E5E7eb;
    transition: 300ms ease-in-out;
    transform-origin: bottom;
    transform: scaleX(0);
}

li a:hover::before {
    transform: scaleX(1);
}

/* -----------------------------------Menu----------------------------------- */

.menu-page,
.drinks-page {
    background-color: white;
    font-family: 'Cinzel';
    animation: fadeIn 1s;
    color: rgb(56, 56, 56);
}

.menu-main,
.drinks-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-main h2 {
    font-size: 40px;
    font-family: 'CinzelBold';
}

.menu-main h2::before,
.drink-type::before {
    content: 'K';
    font-family: 'Nymph';
    padding-right: 20px;
    color: rgb(204, 162, 85);
}

.menu-main h2::after,
.drink-type::after {
    content: 'L';
    font-family: 'Nymph';
    padding-left: 20px;
    color: rgb(204, 162, 85);
    ;
}

#menu-header a,
#menu-id {
    color: rgb(56, 56, 56);
}

summary h3 {
    font-family: 'Cinzel';
    font-weight: 500;
}

.starters,
.dessert {
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    margin-bottom: 60px;
    text-align: center;
}

figure,
figure p {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
    text-align: center;
}

details[open] figure {
    animation: sweep-in 0.4s ease-in;
}

@keyframes sweep-in {
    0% {
        transform: translateY(-60px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sweep-out {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}


details summary {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

details img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

summary p {
    margin: 0;
}

summary h3::before {
    content: 'ko';
    font-family: 'Runic';
    margin-right: 10px;
}

summary h3::after {
    content: 'ko';
    font-family: 'Runic';
    margin-left: 10px;

}


.mains {
    background-color: white;
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mains-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.mains-menu aside {
    max-width: 215px;
}


@media (max-width: 1010px) {
    .mains-menu {
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }

    .mains-menu aside {
        margin-bottom: 2em;

    }

    .mains-menu aside::after {
        content: '';
        height: 100px;
    }

    .mains-menu aside::after {
        content: 'o p';
        flex-wrap: nowrap;
        font-family: 'Nymph';
        color: rgb(204, 162, 85);
        font-size: 50px;
    }
}

.mains-menu details {
    position: relative;
}

.mains-menu figure {
    margin-left: 0;
    margin-right: 0;
}

.mains-menu figure p {
    width: 25em;
}

.cocktails,
.wine,
.beer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wine,
.beer {
    padding: 50px 150px 200px 150px;
}

.wine-beer {
    display: flex;
    flex-direction: row;
}

.drink-type {
    font-size: 40px;
}

/* -----------------------------------Story----------------------------------- */

.story-body {
    animation: fadeIn 1s;
}

.story-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#story-logo {
    font-size: 2em;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }
}


#arrow {
    font-family: 'Arrow';
    color: rgb(212, 212, 212);
    font-size: 140px;
    margin-top: 120px;
    animation: MoveUpDown 2s linear infinite;
}


.story-banner {
    background-image: url('https://images.unsplash.com/photo-1576237680582-75be01432ca6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    object-fit: cover;
    height: 100vh;
}

.story-banner h2 {
    font-family: 'Bricks';
    color: rgb(212, 212, 212);
    font-size: 80px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10px;

}

.story-details {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 10%;
    font-family: 'Cinzel';
}

.story-details h3,
.story-details h4 {
    font-weight: 700;
}

.story-details aside,
.story-details aside em {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-details aside em::after {
    content: 'ko';
    font-family: 'Runic';
    margin-top: 10px;
}

.story-details article {
    width: 40%;
    text-align: center;
    padding: 0 5%;
}

.story-details article h3 {
    font-size: 40px;
}

.story-details article p {
    line-height: 30px;
}

.press,
.staff {
    align-self: flex-start;
    margin-top: 5%;
}

.cta {
    font-family: 'Cinzel';
    font-size: 20px;
    margin-bottom: 70%;
    background-color: transparent;
    padding: 15px 10px;
    cursor: pointer;
    border: 1px solid rgb(204, 162, 85);
}

.cta:hover {
    background-color: rgb(204, 162, 85);
    color: white;
    transition: 0.25s;
}

/* Scroll animation */

.hidden {
    opacity: 0;
    transition: all 1s;
    transform: translateY(-150px);
}

.show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(150px);
}

/* -----------------------------------Booking----------------------------------- */
.booking-page {
    background-image: url('https://images.unsplash.com/photo-1570560258879-af7f8e1447ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80');
    background-size: cover;
    background-repeat: no-repeat;
}

.booking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    min-width: 300px;
    max-width: 368px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    box-shadow: black 2px 1px 12px 1px;
}

select {
    height: 44px;
    margin: 10px 2px;
    font-family: 'Cinzel';
    font-size: 15px;

}

input,
#book-table {
    padding: 10px 20px;
    margin: 10px 10px;
    font-family: 'Cinzel';
    font-size: 15px;
    width: 55%;
}

#date {
    width: 32%;
}

#book-table {
    font-size: 15px;
    width: 68%;
}



.booking-banner h2 {
    font-family: 'Cinzel';
    color: white;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.form-image {
    background-image: url('https://images.unsplash.com/photo-1616240580835-85fec1c8188b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2651&q=80');
    background-size: cover;
}

/* The Modal (background) */
#myModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: none;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    /* Could be more or less, depending on screen size */
    font-family: 'Cinzel';
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




/* -----------------------------------Footer----------------------------------- */


footer {
    font-family: 'Cinzel';
    display: flex;
    justify-content: space-around;
    border-top: solid rgb(184, 184, 184) 1px;
    border-width: 60%;
    margin-top: 10%;
}

.contact,
.hours,
.contact p,
.hours p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#footer-logo h1 {
    color: rgb(36, 36, 36);
    font-size: 40px;
}

footer aside,
footer section {
    padding-top: 5%;
    padding-bottom: 5%
}