@import "./fonts.css";

/* Set keyframes */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    margin: 0;
}

/* Home Page */

.home-page {
    background-image: url('https://images.unsplash.com/photo-1571866735550-7b1ae3bdb144?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 1s;
    transition: 0.35s ease;
}

.home-page-eat {
    background-image: url('https://images.unsplash.com/photo-1541921671-aef0a20d0787?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2286&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.35s ease;
}

.home-page-drink {
    background-image: url('https://images.unsplash.com/photo-1514361892635-6b07e31e75f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.35s ease;
}

.home-page-visit {
    background-image: url('https://cdn.pixabay.com/photo/2022/08/13/00/14/restaurant-7382688_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.35s ease;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

nav ul {
    display: flex;
}

nav ul a {
    position: relative;
    margin: 0 15px;
    font-size: 23px;
    color: rgb(212, 212, 212);
    font-family: 'Cinzel';

}

h1 {
    font-family: 'Bricks';
    color: rgb(212, 212, 212);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    position: relative;
}

.home-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 22%;
}

.home-banner ul {
    display: flex;
}

.home-banner ul a {
    font-family: 'Bricks';
    font-size: 90px;
    color: rgb(212, 212, 212);
    margin: 0 50px;
}

.home-banner ul a:hover>span {
    font-family: 'BricksInvers';
}

.home-banner p {
    color: rgb(212, 212, 212);
    font-size: 30px;
    font-family: 'Cinzel';
    margin-top: 10%;
}

li ::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    z-index: -1;
    background-color: #E5E7eb;
    transition: 300ms ease-in-out;
    transform-origin: bottom;
    transform: scaleX(0);
}

li a:hover::before {
    transform: scaleX(1);
}

/* -----------------------------------Menu----------------------------------- */

.menu-page {
    background-color: white;
    font-family: 'Cinzel';
    animation: fadeIn 1s;
    color: rgb(56, 56, 56);
}

.menu-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-main h2 {
    font-size: 40px;
    font-family: 'CinzelBold';
}

.menu-main h2::before {
    content: 'K';
    font-family: 'Nymph';
    padding-right: 20px;
    color: rgb(204, 162, 85);
}

.menu-main h2::after {
    content: 'L';
    font-family: 'Nymph';
    padding-left: 20px;
    color: rgb(204, 162, 85);
    ;
}

#menu-header a,
#menu-id {
    color: rgb(56, 56, 56);
}

summary h3 {
    font-family: 'Cinzel';
    font-weight: 500;
}

.starters,
.dessert {
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
}

details summary {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

details img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

summary p {
    margin: 0
}

summary h3::before {
    content: 'ko';
    font-family: 'Runic';
    margin-right: 10px;
}

summary h3::after {
    content: 'ko';
    font-family: 'Runic';
    margin-left: 10px;

}


.mains {
    background-color: white;
    width: 60%;
    padding-bottom: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mains-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* Story */
.story-body {
    animation: fadeIn 1s;
}

.story-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#story-logo {
    font-size: 2em;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }
}


#arrow {
    font-family: 'Arrow';
    color: rgb(212, 212, 212);
    font-size: 140px;
    margin-top: 120px;
    animation: MoveUpDown 2s linear infinite;
}


.story-banner {
    background-image: url('https://images.unsplash.com/photo-1576237680582-75be01432ca6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    object-fit: cover;
    height: 100vh;
}

.story-banner h2 {
    font-family: 'Bricks';
    color: rgb(212, 212, 212);
    font-size: 80px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10px;

}

.story-details {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 10%;
    font-family: 'Cinzel';
}

.story-details h3,
.story-details h4 {
    font-weight: 700;
}

.story-details aside,
.story-details aside em {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-details aside em::after {
    content: 'ko';
    font-family: 'Runic';
    margin-top: 10px;
}

.story-details article {
    width: 40%;
    text-align: center;
    padding: 0 5%;
}

.story-details article h3 {
    font-size: 40px;
}

.story-details article p {
    line-height: 30px;
}

.press,
.staff {
    align-self: flex-start;
    margin-top: 5%;
}

.cta {
    font-family: 'Cinzel';
    font-size: 20px;
    margin-bottom: 70%;
    background-color: transparent;
    padding: 15px 10px;
    cursor: pointer;
    border: 1px solid rgb(204, 162, 85);
}

.cta:hover {
    background-color: rgb(204, 162, 85);
    color: white;
    transition: 0.25s;
}

/* Scroll animation */

.hidden {
    opacity: 0;
    transition: all 1s;
    transform: translateY(-150px);
}

.show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(150px);
}

/* Footer */

footer {
    font-family: 'Cinzel';
    display: flex;
    justify-content: space-around;
    border-top: solid rgb(184, 184, 184) 1px;
    border-width: 60%;
    margin-top: 10%;
}

.contact,
.hours,
.contact p,
.hours p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#footer-logo h1 {
    color: rgb(36, 36, 36);
    font-size: 40px;
}

footer aside,
footer section {
    padding-top: 5%;
    padding-bottom: 5%
}